.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .user-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .user-detail-container h2 {
    margin-bottom: 10px;
  }
  
  .user-detail-container h3 {
    margin: 0;
  }
  
  .user-detail-container p {
    margin: 5px 0;
  }
  
  .user-detail-container a {
    color: blue;
  }
  
  .user-detail-container a:hover {
    text-decoration: underline;
  }
  